@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

/* IMPOSTAZIONI GENERALI */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.8;
    color: #000;
    background-color: white;
}

h1 {
    line-height: 1;
    font-size: 4rem;
    margin-top: 50px;
    margin-bottom: 25px;
}

h2 {
    line-height: 1.1;
    font-size: 3.5rem;
    margin-bottom: 25px;
}

h3 {
    font-size: 2.8rem;
    line-height: 1.2;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.4em;
    margin-bottom: 20px;
    line-height: 1em;
}

p {
    margin-bottom: 25px;
}

a {
    color: #e42424;
}

p {
    margin-bottom: 25px;
}

body .lni {
    color:#e42424 ;
}

button {
    font-size: 1.9rem;
    color: white;
    background-image: linear-gradient(90deg, #6cc1e2, #392f7a);
    border: none;
    height: 2.5em;
}

button:hover {
    cursor: pointer;
}


/* HEADER */

header {
    display: flex;
    padding: 0.7em 1em 0.5em;
    justify-content: space-between;
    align-items: center;
    height: 4.4em;
    box-shadow: 0px 5px 15px #d3d3d3;
    z-index: 50;
}

header .lni-more-alt {
    font-size: 2.2em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #545454;
}

nav p {
    margin-left: 10px;
    margin-bottom: 0;
}

nav p:last-of-type {
    color: white;
    background-image: linear-gradient(90deg, #6cc1e2, #392f7a);
    padding: 5px 10px;
}



/* MAIN */

main {
    width: 100%;
}

main button {
    padding: 0px 18px;
}

main .lni-comments, main .lni-map-marker, main .lni-consulting {
    font-size: 2.8em;
}


/* GRID */

.container {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-areas:
        "uno"
        "due"
        "tre"
        "quattro"
        "cinque"
        "sei"
        "sette"
        "otto"
}

#banner-bg {
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    min-height: 19em;
    max-height: 35em;
    filter: brightness(70%);
    z-index: -1;
}

#banner-text {
    color: white;
    text-shadow: 2px 2px 3px black;
    text-align: left;
    padding: 4em 1em 1em 2em;
    filter: brightness(100%);
    background-color: transparent;
}

#banner-text button {
    text-shadow: 2px 2px 3px black;
    animation: button-ani 3s infinite 0s;
}

#banner-text h1 {
    line-height: 1.3em;
    margin: 0px 80px 25px 0px;
}

@keyframes button-ani {
    0% {box-shadow: 0px 0px 0px #d3d3d3;}
    50% {box-shadow: #d3d3d3;}
    100% {box-shadow: 0px 0px 50px transparent;}
  }

  #banner {    
    padding: 0px;
    margin-bottom: 80px;
  }


.elemento {
    padding: 0 1.3em;
    text-align: center;
}

.elemento img {
    width: 100%;
    max-width: 400px;
}

.elemento:nth-child(1) {
    grid-area: uno;
}
.elemento:nth-child(2) {
    grid-area: due;
}
.elemento:nth-child(3) {
    grid-area: tre;
}
.elemento:nth-child(4) {
    grid-area: quattro;
}
.elemento:nth-child(5) {
    grid-area: cinque;
    margin-bottom: 25px;
}
.elemento:nth-child(6) {
    grid-area: sei;
    padding-top: 5.5em;
    padding-bottom: 5.5em;
    color: white;
    background-color:#0c0633;
}
.elemento:nth-child(7) {
    grid-area: sette;
}
.elemento:nth-child(8) {
    grid-area: otto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.elemento:nth-child(7) img {
    margin-top: 50px;
}

@media screen and (min-width: 1200px){
    .container {
        grid-template-areas: 
        "uno uno uno uno uno uno uno uno uno uno uno uno"
        "due due due due due due due due due due due due"
        ". tre tre tre quattro quattro quattro quattro cinque cinque cinque ."
        "sei sei sei sei sei sei sei sei sei sei sei sei"
        ". . sette sette sette sette otto otto otto otto . ."
    }
}

@media screen and (min-width: 1200px){
    .container {
        grid-template-areas: 
        "uno uno uno uno uno uno uno uno uno uno uno uno"
        "due due due due due due due due due due due due"
        ". tre tre tre quattro quattro quattro quattro cinque cinque cinque ."
        "sei sei sei sei sei sei sei sei sei sei sei sei"
        ". . sette sette sette sette otto otto otto otto . ."
    }
}

@media screen and (min-width: 1200px){
    div#cont-chisiamo.container {
        grid-template-areas: 
        ". uno uno uno uno uno uno uno uno uno uno ."
        ". due due due due due tre tre tre tre tre ."
        "quattro quattro quattro quattro quattro quattro quattro quattro quattro quattro quattro quattro"
    }
}

@media screen and (min-width: 1200px){
    div#cont-cont.container {
        grid-template-areas: 
        ". uno uno uno uno uno uno uno uno uno uno ."
        ". . due due due due tre tre tre tre . ."
    }

    #address {
        width: 500px;
    }
}



/* FORM */

footer input {
    height: 3.4em;
}

fieldset {
    display: flex;
    flex-direction: column;
}

footer form {
    margin-bottom: 25px;
}

#banner-text {
    width: 50%;
    margin: 0 auto;
}

#form-contatti fieldset {
    height: 270px;
    justify-content: space-between;
}

#form-contatti input {
    height: 2.4em;
    justify-content: space-between;
}

#form-contatti button {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
}

input:placeholder-shown, textarea:placeholder-shown {
    font-style: italic;
 }


/* TABELLA */

table {
    margin: 5em auto 40px;
    text-align: left;
}

caption {
    font-size: 2.6rem;
}

tr {
    padding: 5px;
}

td {
    padding: 5px 10px;
}

td:nth-child(odd) {
    font-weight: bold;
    padding: 5px 0px 5px 10px;
}

tr:nth-child(6n-5) {
    background-color: #d2dce7;
}
tr:nth-child(6n-4) {
    background-color: #d2dce7;
}
tr:nth-child(6n-3) {
    background-color: #d2dce7;
}



/* FOOTER */

footer {
    background-color: rgb(238, 238, 238);
    padding: 3em;
}

footer p {
    margin-bottom: 25px;
}

footer .lni {
    font-size: 2em;
    margin-bottom: 50px;
}

#footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#footer-flex div {
    width: 400px;
    margin-left: 30px;
}

footer #chisiamo {
    text-align: left;
}

#credits {
    text-align: center;
}



/* RESPONSIVE */

@media screen and (max-width: 480px) {
    nav {
        display: none;
    }
}

@media screen and (min-width: 481px) {
    header .lni-more-alt {
        display: none;
    }
}

@media screen and (max-width: 949px) {
    #banner-bg {
        height: 21em;
    }
}

@media screen and (max-width: 1169px) {
    #banner-text {
        padding-top: 1em;
    }
}

@media screen and (max-width: 759px) {
    #banner-bg {
        height: 27em;
    }

    #banner-text {
        padding-top: 2em;
    }
}

@media screen and (max-width: 550px) {
    #banner-bg {
        height: 21em;
    }

    #banner-text {
        padding-top: 2em;
        width: 90%;
    }
}

@media screen and (max-width: 526px) {
    #banner-bg {
        height: 22em;
    }

    #banner-text {
        padding-top: 2em;
    }
}

@media screen and (max-width: 421px) {
    #banner-bg {
        height: 26em;
    }
}

@media screen and (max-width: 352px) {
    #banner-bg {
        height: 28em;
    }
}

@media screen and (min-width: 660px){
    #form-contatti.elemento {
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px){

    .container {
        grid-template-columns: 10% auto auto auto auto auto auto auto auto auto auto 10%;
    }

    .elemento:nth-child(8) {
        margin-top: 20%;
    }

    .elemento img {
        margin-bottom: 50px;
    }

    table {
        width: 40em;
    }

    #form-contatti.elemento {
        width: 100%;
        margin: 0 auto;
        margin-left: 50px;
    }
    #address.elemento {
        margin-left: 100px;
    }
}